langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
chromadb
faiss-cpu
langchain-text-splitters
langchain-openai
python-dotenv
fastapi 
uvicorn 
python-multipart 
jinja2
mss 
pytesseract
pillow
unstructured[pypdf]